
<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116478968-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-116478968-1');
  </script>

  <meta charset="UTF-8">
  <title>WonderbangDJ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css"/>
</head>
<body>
  <div class = "wrapper">
    <div class="row" id="header">
      <div class="col-12" id="container">
        <!-- canvas in header -->
        <canvas id="canvas"></canvas>

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <nav role="navigation" id="nav">
          <input class="trigger" type="checkbox" id="mainNavButton">
          <!-- The one above is for mobile nav -->
          <label for="mainNavButton" onclick>Menu</label>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Music</a></li>
            <li><a href="#">How To Use</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <%=image_tag("kite.png")%>
      </div>
    </div>
    <div class="row">
      <div class="col-12" style="padding: 2%;">
        <!-- Padding for it to breathe -->
        <h2 class="dark">Be a DJ! Make your dream come true!</h2>
      </div>
    </div>
    <div class="row" style="background-color: #190061; padding: 5% 0 3%;">
      <div class="col-12">
        <%=image_tag("paper.png")%>
      </div>
    </div>
    <div class="row" style="background-color: #240090;">
      <div class="col-11">
        <!-- Col 11 and we will see responsive design -->
        <h2>Get ready to make YOUR sound!</h2>
      </div>
      <div class="col-3">
        <!-- Col 3(no need to be up to 12) and we will see responsive design -->
        <%=image_tag("take-off.png", class: "circle")%>
        <!-- Adding class circle so it is round on mobile devices -->
      </div>
    </div>
    <div class="row" style="background-color: #3500d3;">
      <div class="col-11">
        <h2>All the music you need!</h2>
      </div>
      <div class="col-3">
        <%=image_tag("orange-globe.png", class: "circle")%>
      </div>
    </div>
    <div class="row" style="background-color: #0c0032;">
      <div class="col-11">
        <h2>Above all else!</h2>
      </div>
      <div class="col-3">
        <%=image_tag("waves.png", class: "circle")%>
      </div>
    </div>
    <div class="row" style="background-color: #3500d3;">
      <div class="col-11">
        <h2>FASTER with Spotify then everybody else!</h2>
      </div>
      <div class="col-3">
        <%=image_tag("plane.png", class: "circle")%>
      </div>
    </div>
    <div class="row" style="background-color: #0c0032;">
      <div class="col-11">
        <h2>So come on board!</h2>
      </div>
      <div class="col-3">
        <%=image_tag("paper-blue.png", class: "circle")%>
      </div>
    </div>
    <div class="row" style="background-color: #282828;">
      <div class="row-12">
        <%=image_tag("plane-background.png")%>
      </div>
    </div>
    <!-- Social -->
    <div class="row" style="background-color: #282828;">
      <div class="col-12">
        <h2>Follow Us</h2>
      </div>
    </div>
    <div class="row" style="background-color: #282828;">
      <div class="col-12">
        <ul class="social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="#"><i class="fa fa-spotify"></i></a></li>
          <!-- i tag is usually for italic,but font-awesome uses it for icons -->
        </ul>
      </div>
    </div>
    <!-- Footer? -->
    <div class="row" style="background-color: #3500d3; border-top: 2px solid #240090;">
      <div class="col-12">
        <p>&copy; Simeon and Ivona</p>
      </div>
    </div>

  </div><!-- End wrapper -->

</body>
</html>
