<%= form_with(model: song, local: true) do |form| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field has-text-light">
  <p class="control">
    <span class="select">
        <%= form.select :provider, options_for_select([['Youtube', 'youtube'], ['Spotify', 'spotify']]), id: :provider  %>
        </span>
    </p>
  </div>

  <div class="field has-text-light">
  <p class="control">
     <%= form.label "Song ID" %>
        <%= form.text_field :uuid, id: :song_uuid, class: "input" %>
    </p>
  </div>

  <div class="field has-text-light">
  <p class="control">
    <%= form.label :playlist_id %>
    <%= form.text_field :playlist_id, id: :song_playlist_id , class: "input" %>
    </p>
  </div>


<div class="actions has-text-light">
  <p class="control">
    <%= form.submit 'Add Song',  :class => 'button is-success' %>

  </p>
</div>
<br>
<% end %>
