<section class="hero is-fullheight has-bg-img">
  <div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a href="/">
        <img  class="navbar-item" src="https://image.ibb.co/m7RY3y/logo.png"  width="150" height="150">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu"  style=" color: hsl(348, 100%, 61%)">
        <span></span>
        <span></span>
        <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-item">
               <% if current_user %>
               <%= link_to '<button type="button" class="button is-warning is-outlined"><span class="icon">
                  <i class="fas fa-music"></i>
                  </span>  &nbsp My Playlists</button>'.html_safe, "/playlists" %>
               <% end %>
            </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <a class="button is-link is-outlined">
            <span class="icon is-small">
            <i class="fas fa-bell"></i>
            </span>
               &nbsp Contact us</a>
          </div>
          <div class="navbar-item">
            <% if !current_user %>
            <%= link_to '<button type="button" class="button is-danger is-outlined"><span class="icon">
              <i class="fab fa-google"></i>
              </span>  &nbsp Sign in</button>'.html_safe, "/auth/google_oauth2", id: "sign_in" %>
            <% else %>
            <%= link_to '<button type="button" class="button is-danger is-outlined">Sign out</button>'.html_safe, signout_path, id: "sign_out" %>
            <% end %>
          </div>
          <div class="navbar-item">
            <a class="button is-success is-outlined"  href="https://github.com/I-Mircheva/wonderbang-dj"><span class="icon">
            <i class="fab fa-github"></i>
            </span>
            <span>&nbspGitHub</span></a>
          </div>
        </div>
      </div>
  </nav>
   <% if current_user %>
      <div class="column is-7 is-offset-4">
         <a class="button is-success" style="float: right; margin-right: 15px;">
            <p> Signed in as  <strong><%= current_user.name %></strong>!</p>
            <br>
         </a>
      </div>
   <% end %>

<div class="columns is-mobile">
  <div class="column is-three-fifths is-offset-2">

    <h1 class="title has-text-light"> Add Song</h1>
    <%= render 'form', playlist: @playlist, song: @song %>
    <div class="actions">
      <p class="control">
        <%= link_to 'Back', playlist_path(@playlist), :class => 'button is-light' %>
      </p>
    </div>

  </div>
</div>

  <script src="../js/bulma.js"></script>
</section>
<script type="text/javascript">
  (function() {
    var burger = document.querySelector('.burger');
    var nav = document.querySelector('#'+burger.dataset.target);
    burger.addEventListener('click', function(){
      burger.classList.toggle('is-active');
      nav.classList.toggle('is-active');
    });
  })();
</script>
