<p id="notice"><%= notice %></p>

<p>
  <strong>provider:</strong>
  <%= @song.provider %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @song.uuid %>
</p>

<p>
  <strong>Playlist:</strong>
  <%= @song.playlist %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', playlist_songs_path %>
