<%= form_with(model: how_to_use, local: true) do |form| %>
  <% if how_to_use.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(how_to_use.errors.count, "error") %> prohibited this how_to_use from being saved:</h2>

      <ul>
      <% how_to_use.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :how_to_use_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
