<%= form_with(model: playlist, local: true) do |form| %>
  <% if playlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
      <% playlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field has-text-light">
  <p class="control">
     <%= form.label "Playlist name" %>
        <%= form.text_field :name, id: :playlist_name, class: "input" %>
    </p>
  </div>

  <div class="field has-text-light">
  <p class="control">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :playlist_user_id , class: "input" %>
    </p>
  </div>


<div class="actions has-text-light">
  <p class="control">
    <%= form.submit 'Add Playlist',  :class => 'button is-success' %>

  </p>
</div>
<br>

<% end %>
